<div class="entry-content" itemprop="articleBody">
    <div class="row">
        <div class="col-sm-5">
            {% capture thumbnail %}{% if post.thumbnail_image %}{{ post.thumbnail_image }}{% else %}/content/images/noimage2.jpg{% endif %}{% endcapture %}
            <img class="img-thumbnail img-fluid" src="{{ thumbnail | prepend: site.baseurl}}" />
        </div>
        <div class="col-sm-7">
            <h1 class="title" itemprop="name"><a href="{{ post.url | prepend: site.baseurl }}" class="text-dark font-weight-light" itemprop="url">{{ post.title | titlecase }}</a></h1>
            <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' | truncate: 203 }}</p>
            {% include meta.html %}
        </div>
    </div>
</div>