<div class="container">
    <div class="row">
        <div class="col">
            <h5>The Bear and the Frog</h3>
            <p class="text-secondary">We are a husband and wife team that love being parents.</p>
        </div>
        <div class="col">
            <h5>Contact</h5>
            <p>Tampa, Fl</p>
            <p>contact@thebearnandthefrog.com</p>
        </div>
        <div class="col">
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            &copy; Copyright 2017 | The Bear and the Frog
        </div>
    </div>
</div>