<div class="row">
    <div class="col">
        <ul class="list-unstyled">
            <li>
                {% octicon calendar height:25 class:"img-fluid mr-1" %}
                <time datetime="{{ post.date | datetime | date_to_xmlschema }}" {% if updated %}data-updated="true"{% endif %} itemprop="datePublished">{{ post.date | date: "%B %e, %Y" }}</time>
            </li>
            <li>
                {% octicon tag height:25 class:"img-fluid mr-1" %}
                {{ post.categories[0] }}
            </li>
        </ul>
    </div>
</div>